.container {
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.submit-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}

input[type="datetime-local"], input[type="text"], input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;  /* Ensure the input fields take the full width */
    box-sizing: border-box;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    width: fit-content;  /* Adjust width to fit content */
}

.checkboxContainer input[type="checkbox"] {
    transform: scale(1.5);  /* Make the checkbox larger */
    cursor: pointer;  /* Change cursor to pointer */
}

.checkboxContainer label {
    padding-left: 10px;
    font-size: 16px;  /* Ensure the label has a consistent font size */
    cursor: pointer;  /* Change cursor to pointer */
}