.dashboard {
    padding: 20px;
  }
  
  .header {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 700;
    color: var(--secondary-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .dashboardGrid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
  }
  
  .dashboardItem {
    background-color: var(--secondary-color);
    padding: 50px;
    text-align: center;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: var(--background-color);
    font-weight: bold;
  }
  
  
  .dashboardItem:hover {
    background-color: var(--primary-color);
  }
  