.myTicketsPage {
    display: flex;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.header {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.section {
    margin-bottom: 40px;
}

.ticketCard {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
}

.moviePoster {
    width: 150px;
    height: 225px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.ticketDetails {
    flex-grow: 1;
}

.movieTitle {
    font-size: 24px;
    margin-bottom: 10px;
}

.ticketDetails p {
    margin: 5px 0;
}

.barcodeContainer {
    margin-left: 20px;
}

.actionButtons {
    margin-top: 10px;
}

.downloadButton {
    background-color: #007bff;
    color: white;
    font-size: 14px;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pageButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pageButton:hover {
    background-color: #0056b3;
}

.activePageButton {
    background-color: #0056b3;
}
