.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.form {
    display: flex;
    flex-direction: column;
}

.payButton {
    background-color: #007bff !important;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

.payButton:hover {
    background-color: #0056b3 !important;
    transform: scale(1.05);
}

.payButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    transform: none;
}

.error {
    color: red;
    margin-top: 10px;
}

.success {
    color: green;
    margin-top: 10px;
}