@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #00a8ff;
  --secondary-color: #273c75;
  --background-color: #ecf0f1;
  --dark-color: #2d3436;
}

body,
h1,
h2,
h3,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--dark-color);
  line-height: 1.6;
}


.container {
  width: 90%;
  margin: auto;
  max-width: 1200px;
}


.text-center {
  text-align: center;
}


h1,
h2,
h3 {
  color: var(--secondary-color);
}

img {
  max-width: 100%;
  height: auto;
}

.mt {
  margin-top: 1rem;
}

.mb {
  margin-bottom: 1rem;
}

.pt {
  padding-top: 1rem;
}

.pb {
  padding-bottom: 1rem;
}

.submit-button {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
}

.submit-button:hover {
  background-color: var(--secondary-color);
}

.submit-button:active,
.submit-button:focus {
  outline: none;
  background-color: var(--secondary-color);
  color: var(--background-color);
}