.ticketHistoryPage {
    display: flex;
}

.sidebar {
    flex: 0 0 250px;
    padding: 20px;
}

.content {
    flex: 1;
    padding: 20px;
}


.header {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: #f4f4f4;
    text-align: left;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #00a8ff;
    color: #fff;
    border-radius: 10px;
}
